name: CI
on: [push, pull_request]

env:
  # 用于安装自己并测试
  PACK_FILENAME: tpl-ol-nsh-0.1.0-a0.tgz

jobs:
  build_linux:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
      - run: npm ci

      - run: npm run build
      - run: npm pack
      - run: npm install --no-save $PACK_FILENAME
      - run: npm test

      # 保存 npm pack
      - uses: actions/upload-artifact@v2
        with:
          path: ./*.tgz

  build_win:
    runs-on: windows-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
      - run: npm ci

      # 修复 git checkout 文件格式 (忽略 prettier 检查)
      - run: npm run fmt

      - run: npm run build
      - run: npm pack
      - run: npm install --no-save %PACK_FILENAME%
      - run: npm test
